.wrapper {
    align-items: center;
    flex-direction: column;
}
.container {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

TextField {
    width: 100%;
}

Label#thisMonth {
    font-size: 35;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
Label#thisYear {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.week {
    margin-top: 10;
    background-color: #404041;
}
.week Label {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 10 0;
    font-weight: bold;
}
.week > Label {
    color: #ffffff;
}
.week > StackLayout > Label {
    color: #6d6e71;
}
.week .active Label {
    color: #ffffff;
}

.week Button {
    border-color: transparent;
    border-width: 1;
}

.clock {
    margin-top: 20;
}
.clock > StackLayout {
    background-color: #f7f7f7;
    border-width: 1;
    border-color: #ccc;
}
.clock > StackLayout > Label {
    line-height: 50;
}
.clock > .active {
    background-color: #00aeef;
    color: #ffffff;
}

.clock > StackLayout > GridLayout > .active {
    background-color: #283891;
    color: #ffffff;
}

.clock Label {
    vertical-align: middle;
    text-align: center;
    line-height: 40;
}

.clock .hour > StackLayout {
    border-width:1;
    border-color: #ccc;
}

.clock Button {
    margin: 0;
    padding: 0;
}
