.wrapper {
    align-items: center;
    flex-direction: column;
}
.container {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

TextField {
    width: 100%;
}

Label#thisMonth {
    font-size: 35;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 5 0;
}

.week {
    margin-top: 10;
    background-color: #3a3a3a;
}
.week Label {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    margin: 0;
    padding: 10 0;
}

.clock {
    margin-top: 20;
}
.clock > StackLayout {
    background-color: #f7f7f7;
    border-width:1;
    border-color: #ccc;

}
.clock Label {
    vertical-align: middle;
    text-align: center;
}

.clock .hour > StackLayout {
    border-width:1;
    border-color: #ccc;
}